# Ignore temporary files
*~
*.bak
*.swp
*.xxx
*~
.DS_Store
*.log

# Ignore by common IDEs used directories/files
nbproject
*.idea
*.project
*.vscode
.buildpath
.settings
.TemporaryItems
.webprj
.fleet

# Ignore Terraform providers, the state file, etc.
Terraform/.terraform
Terraform/.terraform.lock.hcl
#Terraform/terraform.tfstate
Terraform/terraform.tfstate.backup
